*/target/**
*/C:**
*/onx:**
*/hs*.log
*/*.iml
*.iml
.idea/
.idea/libraries/
onyx-database-tests/C:/
**/dependency-reduced-pom.xml
*.oxd
/onyx-database-tests/nbproject/
/onyx-database-examples/cache-manager/target/
/onyx-database-examples/embedded-persistence-manager/target/
/onyx-database-examples/persisting-data/target/
/onyx-database-examples/quickstart/target/
/onyx-database-examples/relationships/target/
/onyx-database-examples/remote-persistence-manager/data-model/target/
/onyx-database-examples/remote-persistence-manager/onyx-database-client/target/
/onyx-database-examples/remote-persistence-manager/onyx-database-server/target/
/onyx-database-examples/indexes/target/
/onyx-database-examples/partition/target/
/onyx-database-examples/lifecycle-events/target/
/onyx-database-examples/spring-example/target/
.DS_Store
*/.DS_Store
