*/target/**
*/build/**
*/C:**
*/onx:**
*/hs*.log
*/*.iml
*.iml
.idea/
.idea/libraries/
onyx-database-tests/C:/
**/dependency-reduced-pom.xml
*.oxd
gradle.properties
/build
/*/target
/*/build
/*/*/target
/*/*/build
/*/*/*/target
/*/*/*/build
.DS_Store
*/.DS_Store
/onyx-database/nbproject/
/target/
.gradle/