.GridPane
{
    -fx-alignment: center;
    -fx-background-color: linear-gradient(#F6F9FF 0%, #E8EAE8 50%, #E8EAE8 50%, #F6F9FF 100%);
}

.RibbonTab
{
    -fx-background-color: linear-gradient(#F6F9FF 0%, #BCC4D3 2%, #BCC4D3 0%, #969EB3 10%, #969EB3 90%, #BCC4D3 100%);
}

.RibbonMenu
{
    -fx-border-radius: 4 4 4 4;
    -fx-background-radius: 4 4 4 4;
}

.transparent-button
{
    -fx-background-color: transparent;
    -fx-padding: 1 1 1 1;
}

.transparent-button:focused
{
    -fx-background-color: transparent;
    -fx-padding: 1 1 1 1;
}

.transparent-button:hover
{
    -fx-border-color: #8c8c8c;
    -fx-padding: 1 1 1 1;
    -fx-border-radius: 3 3 3 3;
    -fx-border-insets: 0 -4 0 -4;
}

.table-view .column-header,
.tree-table-view .column-header {
    -fx-font-size: 8pt; /* 13pt - 1 more than the default font */
    -fx-size: 16;
    -fx-background-color: linear-gradient(#FAFAFA 0%, #EAEAEA 35%, #EAEAEA 65%, #D5E6F6 100%);
    -fx-border-color: #000000;
    -fx-border-style: solid;
    -fx-border-insets: 0 0 0 0, 0 0 0 0;
    -fx-border-width: 0.02em, 0.02em;
}

.table-row-cell,
.tree-table-row-cell

{
    -fx-size: 20;
    -fx-font-size: 8pt;
    -fx-border-color: #000000;
    -fx-border-style: solid;
    -fx-border-insets: 0 -100 0 -100, 0 0 0 0;
    -fx-border-width: 0.005em, 0.005em;
    -fx-text-overrun: leading-ellipsis;
}

.tree-cell
{
    -fx-size: 20;
    -fx-font-size: 8pt;
    -fx-border-insets: 0 -100 0 -100, 0 0 0 0;
    -fx-text-overrun: leading-ellipsis;
}

.tree-table-row-cell,
.tree-cell
{
    -fx-indent: 10px;
    -fx-text-overrun: leading-ellipsis;
}

.table-row-cell:odd,
.tree-table-row-cell:odd
{
    -fx-background-color: #F0F4F9;
}

.table-row-cell:selected,
.tree-table-row-cell:selected
{
    -fx-background-color: -fx-focus-color;
    -fx-text-overrun: leading-ellipsis;
}

.check-box-header-column-style .label {
    -fx-alignment: center-left;
    -fx-padding: 2;
    -fx-graphic-text-gap: 35;
}

.table-row-cell:focused:odd,
.tree-table-row-cell:focused:odd
{
    -fx-background-color: -fx-focus-color;
    -fx-text-overrun: leading-ellipsis;
}

.text-field {
    -fx-background-color:
    #c8c8c8,
    #FFFFFF;
    -fx-background-radius: 4,4,4,4;
}

.text-field:focused {
    -fx-background-radius: 4,4,4,4;
    -fx-background-color:
    #0093EF,
    #FFFFFF;
}

.text-field:hover {
    -fx-background-color:
    #c8c8c8,
    #FFFFFF;
    -fx-background-radius: 4,4,4,4;
}

.text-field:focused:hover {
    -fx-background-radius: 4,4,4,4;
    -fx-background-color:
    #0093EF,
    #FFFFFF;
}

.date-picker {
    -fx-background-color:
    #c8c8c8,
    #c8c8c8,
    #FFFFFF;
    -fx-background-radius: 4,4,4,4;
}

.date-picker:focused {
    -fx-background-radius: 4,4,4,4;
    -fx-background-color:
    #c8c8c8,
    #c8c8c8,
    #0093EF;
}

.date-picker:focused:hover {
    -fx-background-radius: 4,4,4,4;
    -fx-background-color:
    #c8c8c8,
    #c8c8c8,
    #0093EF;
}

.date-picker:hover {
    -fx-background-color:
    #c8c8c8,
    #c8c8c8,
    #FFFFFF;
    -fx-background-radius: 4,4,4,4;
}


.text-field-error {
    -fx-background-color:
    #FF0000,
    #FFFFFF;
    -fx-background-radius: 4,4,4,4;
}

.text-field-error:hover {
    -fx-background-color:
    #FF0000,
    #FFFFFF;
    -fx-background-radius: 4,4,4,4;
}

.radio-button .radio{
    -fx-padding: 2px;
}

.combo-box-base-error {
    -fx-background-color:
    -fx-shadow-highlight-color, #FF0000, -fx-inner-border, -fx-body-color;
}

.date-picker-error {
    -fx-background-color: #FF0000, -fx-inner-border, -fx-body-color;
}




.tab-pane {
    -fx-background-insets:0;
    -fx-padding: 0;
    -fx-background-color: #CDD5E1;
    -fx-tab-min-width:70px;
    -fx-tab-max-height: 20px;
    -fx-tab-min-height: 20px;
}


.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #292929;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-focus-color: transparent;
    -fx-padding: 0 15 1 5;
}


.tab-pane *.tab-header-background {
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-color: linear-gradient(#C4CAD4, #9FA9BA);
    -fx-border-color: #969EB3 #969EB3 linear-gradient(#969EB3, #E8ECF1) #969EB3;
    -fx-border-width: .5 .5 2 .5;
    -fx-border-insets: 0, 0, 0, 0;

}

.tab:selected {
    -fx-background-color: #D1D6E0;
    -fx-background-radius: 0;
    -fx-border-width: 0 1px 0 1px;
    -fx-border-color: linear-gradient(to right, #818ba1, #b0b6c0);
    -fx-focus-color: transparent;
    -fx-border-insets: -1 0 -1 0, 0, 0, 0;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
}

.tab
{
    -fx-background-color: linear-gradient(#C4CAD4, #9FA9BA);
    -fx-border-width: 0 1px 0 1px;
    -fx-border-color: linear-gradient(to right, #818ba1, #b0b6c0);
    -fx-border-insets: -1 0 -1 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-padding: 0 0 0 0;
    -fx-background-insets: 0 0 2 0;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0;
    -fx-padding: 0 0 1 10,0,0,0;
    -fx-border-width: 0;
    -fx-focus-color: transparent;
}

.tab-content-area
{
    -fx-padding: 0 0 0 0;
    -fx-border-insets: 0 -1 -1 -1;
    -fx-background-color: #CDD5E1;
}


.secondary-tab:selected {
    -fx-background-color: #E7E7E7;
    -fx-background-radius: 0;
    -fx-border-width: 0 1px 0 1px;
    -fx-border-color: linear-gradient(to right, #A8A8A8, #A8A8A8);
    -fx-focus-color: transparent;
    -fx-border-insets: -1 0 -1 0, 0, 0, 0;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
}

.secondary-tab
{
    -fx-background-color: linear-gradient(#A3D1FD, #73AEEE);
    -fx-border-width: 0 1px 0 1px;
    -fx-border-color: linear-gradient(to right, #A8A8A8, #A8A8A8);
    -fx-border-insets: -1 0 -1 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-padding: 0 0 0 0;
    -fx-background-insets: 0 0 2 0;
}

.secondary-tab-pane {

    -fx-background-insets:0;
    -fx-padding: 0;
    -fx-background-color: #CDD5E1;
    -fx-tab-min-width:70px;
    -fx-tab-max-height: 20px;
    -fx-tab-min-height: 20px;
}

.secondary-tab-pane *.tab-header-background {
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-color: linear-gradient(#A3D1FD, #73AEEE);
    -fx-border-color: #73AEEE #A3D1FD linear-gradient(#73AEEE, #E8ECF1) #94DEEA;
    -fx-border-width: .5 .5 2 .5;
    -fx-border-insets: 0, 0, 0, 0;
}

.menu-item > .graphic-container {
    -fx-padding: 0em 0em 0em 0em;
}

.menu-item {
    -fx-padding: 0.333333em 0.35em 0.333333em 0.35em;  /* 4 5 4 5 */
}


.menu-button > .arrow-button {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 4em .50em 0em 0em; /* 6 8 6 0 */
}

.menu-button > .arrow-button > .arrow {
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-padding: 0em; /* 3 */
    -fx-shape: "M 0 -3.5 v 7 l 4 -3.5 z";
}

.menu-button:openvertically > .arrow-button > .arrow {
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.menu-button-small
{
    -fx-min-height: 5px;
    -fx-background-color: linear-gradient(#FAFAFA 0%, #EAEAEA 35%, #EAEAEA 65%, #D5E6F6 100%);
}

.menu-button-small > .arrow-button {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0em .33em 0em 0em; /* 6 8 6 0 */
}

.menu-button-small > .label
{
    -fx-font-size: 12px;
    -fx-padding: 0 0 0 5;
}

.menu-button-small > .arrow-button > .arrow {
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-padding: 0em; /* 3 */
    -fx-shape: "M 0 -3.5 v 7 l 4 -3.5 z";
}

.menu-button-small:openvertically > .arrow-button > .arrow {
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.label-button{
    -fx-background-color:
    #707070,
    linear-gradient(#fcfcfc, #f3f3f3),
    linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 0 -10 0 -10;
    -fx-text-fill: black;
    -fx-font-size: 11px;
    -fx-min-height: 20;
    -fx-min-width: 20;
}

.label-button > .arrow-button > .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-padding: 0em; /* 3 */
    -fx-shape: "";
}

/*  Bread Crumb Bar */

.breadcrumb-bar {
    -fx-padding: 0,10,0,0;
    -fx-background-color: linear-gradient(#E1E6EB, #D5DBE6);
}
.breadcrumb-bar .button {
    -fx-font-size: 12px;
    -fx-padding: 0 3 0 3;
    -fx-border-color: null;
    -fx-border-insets: 0;
    -fx-border-image-source: url("icons/crumb.png");
    -fx-border-image-slice: 1 10 1 10 fill;
    -fx-border-image-width: 1 10 1 10;
    -fx-border-image-repeat: stretch;
}
.breadcrumb-bar .button:focused {
    -fx-background-color: null;
    -fx-border-image-source: url("icons/crumb-focused.png");
    -fx-focus-color: transparent;
}
.breadcrumb-bar .button:hover {
    -fx-background-color: null;
    -fx-border-image-source: url("icons/crumb-hover.png");
}
.breadcrumb-bar .only-button {
    -fx-background-color: null;
    -fx-border-image-width: 0 0 0 0;
    -fx-border-image-repeat: stretch;
    -fx-border-image-source: url("icons/crumb-selected.png");
    -fx-border-color: transparent #6e737d transparent rgba(255,255,255,0.3) , transparent rgba(255,255,255,0.3) transparent transparent;
    -fx-border-insets: 0 0 1 0, 1;
}
.breadcrumb-bar .only-button:hover {
    -fx-background-color: null;
    -fx-border-image-source: url("icons/crumb-selected.png");
    -fx-border-image-insets: 0 0 1 0;
}
.breadcrumb-bar .only-button:focused {
    -fx-background-color: null;
    -fx-focus-color: transparent;
    -fx-border-color: -fx-focus-color;
    -fx-border-width: 1.4;
}
.breadcrumb-bar .first-button {
    -fx-border-image-insets: 0 -5 1 0;
    -fx-background-color: null;
    -fx-border-image-width: 0 10 0 0;
    -fx-border-image-repeat: stretch;
    -fx-padding: 0 3 0 6;
}
.breadcrumb-bar .first-button:focused {
    -fx-background-color: null;
    -fx-border-color: transparent transparent transparent -fx-focus-color;
    -fx-border-width: 1.4;
    -fx-focus-color: transparent;
}
.breadcrumb-bar .middle-button {
    -fx-border-image-insets: 0 -5 1 -4;
    -fx-background-color: null;
    -fx-focus-color: transparent;
}
.breadcrumb-bar .last-button {
    -fx-background-color: null;
    -fx-border-image-insets: 0 0 0 -4;
    -fx-border-image-width: 0 0 0 10;
    -fx-border-image-repeat: stretch;
    -fx-border-image-source: url("icons/crumb-selected.png");
    -fx-border-color: transparent #6e737d transparent transparent , transparent rgba(255,255,255,0.2) transparent transparent;
    -fx-border-insets: 0 0 1 0, 1;
    -fx-focus-color: transparent;
}
.breadcrumb-bar .last-button:hover {
    -fx-background-color: null;
    -fx-border-image-source: url("icons/crumb-selected.png");
    -fx-focus-color: transparent;
}
.breadcrumb-bar .last-button:focused {
    -fx-background-color: null;
    -fx-border-color: transparent -fx-focus-color transparent transparent;
    -fx-border-width: 1.4;
    -fx-focus-color: transparent;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 1 0 2; /* 0 3 0 3 */
}


.header-tree-table-row-cell, .header-tree-table-row-cell:odd
{
    -fx-background-color: linear-gradient(#E1E6EB, #D5DBE6);
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-table-cell-border-color: transparent;
}

.header-tree-table-row-cell:focused, header-tree-table-row-cell:focused:odd
{
    -fx-background-color: linear-gradient(#b9bec3, #a3a9b4);
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-table-cell-border-color: transparent;
}
